@{
    ViewData["Title"] = "Contrante";
}

@{
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="py-xxl-10 pb-0" id="home">
    <a asp-controller="Home" asp-action="Index"><h5><i class="fas fa-arrow-left"></i> Voltar</h5><br></a>
    <form name="formulario" method="post">
        <br>
        <h2>Cadastro de usuário</h2>
        <p>Pessoa física</p><br>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="inputName">Nome completo</label>
                <input type="text" class="form-control" id="inputName" placeholder="Exemplo: João Silva">
            </div>
            <div class="form-group col-md-4">
                <label for="inputEmail">E-mail</label>
                <input type="text" name="email" class="form-control" id="inputEmail" placeholder="example@gmail.com">
                <div id="msgemail"></div>
            </div>
            <div class="form-group col-md-4">
                <label for="inputCpf">CPF</label>
                <input oninput="mascaraCpf(this)" type="text" class="form-control" id="inputCpf">
            </div>

        </div>

        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="inputPassWord">Senha</label>
                <input type="password" class="form-control" id="inputPassword" placeholder="**********">
            </div>

            <div class="form-group col-md-4">
                <label for="inputPhone">Número Celular</label>
                <input onkeypress="mask(this, mphone);" onblur="mask(this, mphone);" type="text" class="form-control" id="inputPhone" name="phone">
            </div>

@*            <div class="form-group col-md-4">
                <label for="inputConfirmPassword">Confirmar senha</label>
                <input type="password" class="form-control" id="inputConfirmPassword" placeholder="**********">
            </div>*@
            @*<div class="form-group col-md-4">
                <label for="inputConfirmEmail">Confirmar e-mail</label>
                <input type="text" class="form-control" id="inputConfirmEmail">
            </div>*@
            
        </div>

        <div class="form-row">
            <button asp-controller="Home" asp-action="MainContratante" class="btn btn-primary" onclick="formContratante()" id="salvar" type="submit">Salvar</button>
        </div>
    </form>

    <section id="modal">
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <h1 class="fw-normal fs-6 fs-xxl-7">Conecte-se antes de solicitar um serviço</h1>
                    <p class="fs-1 mb-5">O e-mail é uma identificação única, para que a Difrete saiba se você é um fretista ou contratante. <br /></p>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="floatingInput">
                        <label for="floatingInput">Email</label>
                    </div>
                    <div class="form-floating">
                        <input type="password" class="form-control" id="floatingPassword">
                        <label for="floatingPassword">Password</label>
                    </div><br>
                    <center>
                        <button onclick="Login()" type="submit" id="btn-modal" class="btn btn-primary">Entrar</button><br><br>
                        <a href="#" aria-label="Close" data-dismiss="modal" data-toggle="modal" data-target="#myModal2">Ainda não tem uma conta? Cadastrar</a>
                    </center>
                </div>
            </div>
        </div>
    </div>
</section>

    <section id="modal">
        <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <h3 class="fw-normal fs-6 fs-xxl-7">Vamos realizar o cadastro? É simples  e fácil</h3>
                        <p class="fs-1 mb-5">Lembre-se, o e-mail é um registro único dentro do sistema. Então fique atento para o e-mail que for cadastrado! <br /></p>
                        <a class="ancora-modal" asp-controller="Home" asp-action="Fretista">Cadastrar-se como fretista</a><br>
                        <a class="ancora-modal" asp-controller="Home" asp-action="Contratante">Cadastrar-se como contratante</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
