@{
    ViewData["Title"] = "Fretista";
}

@{
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="py-xxl-10 pb-0" id="home">
    <a asp-controller="Home" asp-action="Index"><h5><i class="fas fa-arrow-left"></i> Voltar</h5><br></a>
    <form>
        <br>
        <h2>Cadastro de usuário</h2>
        <p>Pessoa Jurídica</p><br>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="inputRntrc">Número da RNTRC (registro na ANTT)</label>
                <input type="text" class="form-control" id="inputRntrc">
            </div>

            <div class="form-group col-md-4">
                <label for="inputRazaoSocial">Razão Social</label>
                <input type="text" class="form-control" id="inputRazaoSocial">
            </div>

            <div class="form-group col-md-4">
                <label for="inputCnpj">CNPJ</label>
                <input oninput="mascaraCnpj(this)" type="text" class="form-control" id="inputCnpj">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="inputName">Nome completo</label>
                <input type="text" class="form-control" id="inputName">
            </div>

             <div class="form-group col-md-4">
                <label for="inputEmail">E-mail</label>
                <input type="text" class="form-control" id="inputEmail" placeholder="example@gmail.com">
             </div>

              <div class="form-group col-md-4">
                <label for="inputPhone">Número Celular</label>
                <input onkeypress="mask(this, mphone);" onblur="mask(this, mphone);" type="text" class="form-control" id="inputPhone">

            </div>
@*
            <div class="form-group col-md-4">
                <label for="inputConfirmEmail">Confirmar e-mail</label>
                <input type="text" class="form-control" id="inputConfirmEmail">
            </div>*@
        </div>

        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="inputCpf">CPF</label>
                <input oninput="mascaraCpf(this)" onsubmit="cpfLen()" type="text" class="form-control" id="inputCpf">
            </div>

            <div class="form-group col-md-4">
                <label for="inputPassword">Senha</label>
                <input type="password" class="form-control" id="inputPassword" placeholder="**********">
            </div>


        </div>

        <div class="form-row">
            @*<div class="form-group col-md-4">
                <label for="inputBirthDate">Data de nascimento</label>
                <input type="text" class="form-control" id="inputBirthDate">
            </div>*@
            <button asp-controller="MainFretista" asp-action="MainFretista" class="btn btn-primary" onclick="formFretista()" id="salvar" type="submit">Salvar</button>
        </div>
    </form>
</section>

<section id="modal">
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h3 class="fw-normal fs-6 fs-xxl-7">Conecte-se antes de solicitar um serviço</h3>
                    <p class="fs-1 mb-5">
                        Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                        ever since the 1500s. <br />
                    </p>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="floatingInput">
                        <label for="floatingInput">Email</label>
                    </div>
                    <div class="form-floating">
                        <input type="password" class="form-control" id="floatingPassword">
                        <label for="floatingPassword">Password</label>
                    </div><br>
                    <center>
                        <button onclick="Login()" type="submit" id="btn-modal" class="btn btn-primary">Entrar</button><br><br>
                        <a href="#" aria-label="Close" data-dismiss="modal" data-toggle="modal">
                            Ainda não tem uma conta? Cadastrar
                        </a>
                    </center>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="modal">
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h3 class="fw-normal fs-6 fs-xxl-7">
                        Vamos realizar o cadastro? É simples e fácil
                    </h3>
                    <p class="fs-1 mb-5">
                        Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                        ever since the 1500s. <br />
                    </p>
                    <a class="ancora-modal" asp-controller="Home" asp-action="Fretista">Cadastrar-se como fretista</a><br>
                    <a class="ancora-modal" asp-controller="Home" asp-action="Contratante">Cadastrar-se como contratante</a>
                </div>
            </div>
        </div>
    </div>
</section>
