@{
    ViewData["Title"] = "SAC";
}

@{
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <section class="py-xxl-10 pb-0" id="home">
        <a asp-controller="Home" asp-action="Index"><h5><i class="fas fa-arrow-left"></i> Voltar</h5><br></a>
        <br>
            <h2>Perguntas Frequentes</h2>
            <p>Referente a regra de negócio</p>
        <br>
        <div id="accordion">
        <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                O que seria o fretista e o contratante?
            </button>
            </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
            Na Difrete, o fretista é o CNPJ. Ou seja, a empresa ou pessoa autônoma que possui o CNPJ e também um registro junto a ANTT.
            Já o contratante, é a pessoa CPF que realizará a solicitação do serviço.
            </div>
        </div>
        </div>
        <div class="card">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Posso utilizar meu e-mail de fretista para me cadastrar como contratante?
            </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
            Não! O e-mail é uma identificação única dentro do sistema e por este motivo não pode ser duplicado. Para se cadastrar como fretista e contratante, é necessário e-mails diferentes.
            </div>
        </div>
        </div>
        <div class="card">
        <div class="card-header" id="headingThree">
            <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                É possível realizar pagamentos pela plataforma?
            </button>
            </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
            Atualmente a Difrete não possui esta funcionalidade. Somos apenas responsáveis por garantir a conexão entre fretistas e contratantes.
            </div>
        </div>
        </div>
    </div>
    </section>

    <section id="modal">
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <h1 class="fw-normal fs-6 fs-xxl-7">Conecte-se antes de solicitar um serviço</h1>
                        <p class="fs-1 mb-5">O e-mail é uma identificação única, para que a Difrete saiba se você é um fretista ou contratante. <br /></p>
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="floatingInput">
                            <label for="floatingInput">Email</label>
                        </div>
                        <div class="form-floating">
                            <input type="password" class="form-control" id="floatingPassword">
                            <label for="floatingPassword">Password</label>
                        </div><br>
                        <center>
                            <button onclick="Login()" type="submit" id="btn-modal" class="btn btn-primary">Entrar</button><br><br>
                            <a href="#" aria-label="Close" data-dismiss="modal" data-toggle="modal" data-target="#myModal2">Ainda não tem uma conta? Cadastrar</a>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="modal">
        <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <h3 class="fw-normal fs-6 fs-xxl-7">Vamos realizar o cadastro? É simples  e fácil</h3>
                        <p class="fs-1 mb-5">Lembre-se, o e-mail é um registro único dentro do sistema. Então fique atento para o e-mail que for cadastrado! <br /></p>
                        <a class="ancora-modal" asp-controller="Home" asp-action="Fretista">Cadastrar-se como fretista</a><br>
                        <a class="ancora-modal" asp-controller="Home" asp-action="Contratante">Cadastrar-se como contratante</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>