@{
    ViewData["Title"] = "Solicitação pendente";
}
@{
    Layout = "~/Views/Shared/_LayoutMainContratante.cshtml";
}

@section scripts {
    <script src="~/js/MainContratanteServicoPendente.js"></script>
}

<body>
    <div class="wrapper2">
        <h1>Solicitação de serviços pendentes</h1>
        <p>Serviços que estão aguardando aprovação do fretista</p>
    </div>

    <div id="container" class="container">
    </div>
</body>