@{
    ViewData["Title"] = "Serviços Realizados";
}

@{
    Layout = "~/Views/Shared/_LayoutMainContratante.cshtml";
}

@section scripts {
    <script src="~/js/MainContratanteServicoRealizado.js"></script>
}

<body>
    <div class="wrapper2">
        <h1>Serviços Encerrados</h1>
        <p>Somente serviços aceitos e cancelados</p>
    </div>
        
    <div id="container" class="container">
    </div>
    
</body>