@{
    ViewData["Title"] = "Contratante";
}
@{
    Layout = "~/Views/Shared/_LayoutMainContratante.cshtml";
}

@section scripts {
    <script src="~/js/MainContratante.js"></script>
}

<body>
    <div class="wrapper2">
        <h1>Serviços disponíveis</h1>
        <p>Fretistas que estão disponíveis para serviço</p>
    </div>

        <!--Cards de fretistas ativos-->
        <div id="cardDIV" class="container">
        </div>

        @*<ul class="grid cards">
            <li>
                <h2>Serviço</h2>
                <h5>Nome: #NomeFretista</h5>
                <p>Celular: #CelularFretista</p>
                <p>E-mail: #EmailFretista</p>
                <center><button type="button" class="btn btn-info" data-toggle="modal" data-target="#success">Solicitar</button></center>
                <br/>
            </li>
            
        </ul>*@

        
</body>