@{
    ViewData["Title"] = "Serviços Realizados";
}

@{
    Layout = "~/Views/Shared/_LayoutMainContratante.cshtml";
}

<body>
      <div class="wrapper2">
        <h1>Serviços Realizados</h1>
        <p>Somente serviços aceitos por contratantes e fretistas</p>
        <ul class="grid cards">
            <li>
                <h2>Solicitação</h2>
                <h5>Nome: #NomeFretista</h5>
                <p>Celular: #CelularFretista</p>
                <p>E-mail: #EmailFretista</p>
            </li>
            <li>
                <h2>Solicitação</h2>
                <h5>Nome: #NomeFretista</h5>
                <p>Celular: #CelularFretista</p>
                <p>E-mail: #EmailFretista</p>
            </li>
            <li>
                <h2>Solicitação</h2>
                <h5>Nome: #NomeFretista</h5>
                <p>Celular: #CelularFretista</p>
                <p>E-mail: #EmailFretista</p>
            </li>
            <li>
                <h2>Solicitação</h2>
                <h5>Nome: #NomeFretista</h5>
                <p>Celular: #CelularFretista</p>
                <p>E-mail: #EmailFretista</p>
            </li>
            <li>
                <h2>Solicitação</h2>
                <h5>Nome: #NomeFretista</h5>
                <p>Celular: #CelularFretista</p>
                <p>E-mail: #EmailFretista</p>
            </li>
        </ul>
      </div>
</body>