@{
    ViewData["Title"] = "Serviços Realizados";
}

@{
    Layout = "~/Views/Shared/_LayoutMainFretista.cshtml";
}

<body>
      <div class="wrapper2">
        <h1>Serviços Realizados</h1>
        <p>Somente serviços aceitos por contratantes e fretistas</p>
        <ul class="grid cards">
            <li>
                <h2>Solicitação</h2>
                <h5>Nome: #NomeContratante</h5>
                <p>Celular: #CelularContratante</p>
                <p>E-mail: #EmailContratante</p>
              </li>
            <li>
                <h2>Solicitação</h2>
                <h5>Nome: #NomeContratante</h5>
                <p>Celular: #CelularContratante</p>
                <p>E-mail: #EmailContratante</p>
            </li>

            <li>
                <h2>Solicitação</h2>
                <h5>Nome: #NomeContratante</h5>
                <p>Celular: #CelularContratante</p>
                <p>E-mail: #EmailContratante</p>
            </li>

            <li>
                <h2>Solicitação</h2>
                <h5>Nome: #NomeContratante</h5>
                <p>Celular: #CelularContratante</p>
                <p>E-mail: #EmailContratante</p>
            </li>

            <li>
                <h2>Solicitação</h2>
                <h5>Nome: #NomeContratante</h5>
                <p>Celular: #CelularContratante</p>
                <p>E-mail: #EmailContratante</p>
            </li>
        </ul>
      </div>
</body>