@{
    ViewData["Title"] = "Fretista";
}

@{
    Layout = "~/Views/Shared/_LayoutMainFretista.cshtml";
}

@section scripts {
    <script src="~/js/MainFretista.js"></script>
}

<body>
    <div class="wrapper2">
        <h1>Requisição de serviços</h1>
        <p>Solicitação de serviços por parte de contratantes</p>
    </div>

    <div id="container" class="container">
    </div>

</body>