@{
    ViewData["Title"] = "Criar Serviço";
}
@{
    Layout = "~/Views/Shared/_LayoutMainFretista.cshtml";
}

@section scripts {
    <script src="~/js/MainFretistaCriarServ.js"></script>
}

<body>
    <div class="wrapper2">
    <h1>Disponibilidade</h1>
    <p>Quando o serviço estiver online você ficará visível para todos os contratantes.</p>
    <!-- Button trigger modal -->
    <div class="form-check">
        <input onclick="ativar();" class="form-check-input" type="radio" name="isAtivo" id="radioOnline" value="true">
        <label class="form-check-label" for="radioOnline">
        Online
        </label>
    </div>
    <div class="form-check">
        <input onclick="inativar();" class="form-check-input" type="radio" name="isAtivo" id="radioOffline" value="false">
        <label class="form-check-label" for="radioOffline">
        Offline
        </label>
    </div>

    <div id="cardFretista" class="container">
    </div>

</div>
</body>